In [3]:
import pandas as pd

In [6]:
df = pd.read_csv('../../data/Bakery.csv', index_col=0)
df.head()

,TransactionNo,Items,DateTime,Daypart,DayType,date,time,location
0,1,Bread,2016-10-30 09:58:11,Morning,Weekend,2016-10-30,09:58:11,Plattling
1,2,Scandinavian,2016-10-30 10:05:34,Morning,Weekend,2016-10-30,10:05:34,Plattling
2,2,Scandinavian,2016-10-30 10:05:34,Morning,Weekend,2016-10-30,10:05:34,Wallersdorf
3,3,Hot chocolate,2016-10-30 10:07:57,Morning,Weekend,2016-10-30,10:07:57,Deggendorf
4,3,Jam,2016-10-30 10:07:57,Morning,Weekend,2016-10-30,10:07:57,Wallersdorf

In [9]:
items = df.Items.unique()
items[:10]

array(['Bread', 'Scandinavian', 'Hot chocolate', 'Jam', 'Cookies',
       'Muffin', 'Coffee', 'Pastry', 'Medialuna', 'Tea'], dtype=object)